<div class="row nbHomeView">
	<div class="homeBackground"></div>
	<div class="card searchPostWrapper">
		<div class="search row">
		    <div class="col s12">
		      <ul class="tabs homeTabs">
		      	<li class="tab col homeTab"><a class="category" href="#searchSale" data-category="BUY" data-action="searchPage">Buy</a></li>
		        <li class="tab col homeTab"><a class="category active" href="#searchRent" data-category="RENT" data-action="searchPage">Rent</a></li>
		        <li class="tab col homeTab"><a class="category" href="#searchPg" data-category="PG" data-action="searchPage">PG</a></li>
		        <li class="tab col homeTab"><a class="category" href="#searchShared" data-category="SHARED" data-action="searchPage">Flatmates</a></li>
		      </ul>
		    </div>
		    <div id="searchRent" class="col s12 searchContainer">
				<div class="input-field searchInputWrapper" data-action="searchRent">
					<i class="fa fa-search"></i>
					<input id="icon_prefix" disabled type="text" class="searchInput" aria-label="searchInput" value="Search property for rent by locality">
				</div>
		    </div>
		    <div id="searchSale" class="col s12 searchContainer">
				<div class="input-field searchInputWrapper" data-action="searchSale">
					<i class="fa fa-search"></i>
					<input id="icon_prefix" disabled type="text" class="searchInput" aria-label="searchInput" value="Search property for sell/buy by locality">
				</div>
		    </div>
		    <div id="searchPg" class="col s12 searchContainer">
				<div class="input-field searchInputWrapper" data-action="searchPg">
					<i class="fa fa-search"></i>
					<input id="icon_prefix" disabled type="text" class="searchInput" aria-label="searchInput" value="Search for PG/Hostel by locality">
				</div>
		    </div>
		    <div id="searchShared" class="col s12 searchContainer">
				<div class="input-field searchInputWrapper" data-action="searchShared">
					<i class="fa fa-search"></i>
					<input id="icon_prefix" disabled type="text" class="searchInput" aria-label="searchInput" value="Search shared property for rent by locality">
				</div>
		    </div>
		</div>
		
		<div class="lastSearch row hide">
			<div class="col s12" data-action="continueLastSearch" id="lastSearchDiv">
				<div class="lastSearchIcon"></div>
				<div class="lastSearchText">Continue Last Search </div>
				<div class="lastSearchedLocation"></div>
			</div>
		</div>

		<div class="postProperty row">
			<div class="col s12" data-action="postPage" >
				<div class="nb-list">
					<a href="#" data-action="postPage" ></a>
				</div>
				<div class="post">Post Your Property</div>
			</div>
		</div>
	</div>
	<div class="card packersAndMoversCard right-align">
		<a href="" data-action="openShiftingPage" class="">
			<div class="pmbannerContent">
				<div class="">
					<div>Great Prices. On-time Safe Delivery</div>
					<span>Introducing Packers and Movers</span>
				</div>
				<button class="btn btn-default">Know more</button>
			</div>
		</a>
	</div>
	<div class="card nriCard row">
		<div class="col s12">
			<div class="flight-image"></div>
			<div class="nri-card-info" data-action="showNRIForm">NRIs CLICK HERE!</div>
		</div>
	</div>

	<div class="card assistance row">
		<div class="col s12">
			<div class="assistance-image"></div>
			<div class="assistance-info">FOR ANY ASSISTANCE CALL <br/>
				<a href="tel:09241700000" class="homeMobileNumber">92417-00000</a>
			</div>
		</div>
	</div>
	<div class="card whatshot row hide">
		<div class="homepage-caption-container">
	        <div>
	            <div class="homepage-caption-header">
	                WHAT'S HOT
	            </div>
	        </div>
	    </div>
			<div class="whatshotSection">
				<ul class="whatshot-ul">

				</ul>
			</div>
	</div>
	<div class="card why-nb-wrapper">
		<div class="homepage-caption-container">
	        <div>
	            <div class="homepage-caption-header">
	                Why use NoBroker?
	            </div>
	        </div>
	    </div>
		<div class="details row">
			<div class="card homepageCard col s12">
				<div class="info-image" id="avoid"></div>
				<div class="info-heading">Avoid Brokers</div>
				<div class="info-text col s12">We directly connect you to verified owners to avoid brokerage</div>
			</div>
			<div class="card homepageCard col s12">
				<div class="info-image" id="free-listing"></div>
				<div class="info-heading">Free Listings</div>
				<div class="info-text col s12">Enlist your property with ease, also using WhatsApp</div>
			</div>
			<div class="card homepageCard col s12">
				<div class="info-image" id="shortlists"></div>
				<div class="info-heading">Shortlist Without Visit</div>
				<div class="info-text col s12">Extensive information makes it easy</div>
			</div>
			<div class="card homepageCard col s12">
				<div class="info-image" id="rental-agreement"></div>
				<div class="info-heading">Rental Agreement</div>
				<div class="info-text col s12">Assistance with your Rental Agreement and other paper work</div>
			</div>
		</div>
		<div class="homepage-caption-container">
        	<div>
            	<div class="homepage-caption-header">
            	    Featured On
            	</div>
        	</div>
    	</div>
    	<div class="blog row">
	    	<div class="col s12 nbFeaturedOn">
				<ul class="nb-blog-style valign-wrapper">
					<li>
						<article>
							<a href="http://techcrunch.com/2015/02/22/nobroker/" target="_blank" rel="noopener">
								<div class="tc-bg news_logo"></div>
							</a>
						</article>
					</li>
					<li>
			   			<article>
						<a href="http://yourstory.com/2015/02/nobroker-funding/" target="_blank" rel="noopener">
							<div class="ys-bg news_logo"></div>
						</a>
						</article>
					</li>
					<li>
						<article>
							<a href="http://www.medianama.com/2015/02/223-nobroker-saif-partners-fulcrum-ventures/" target="_blank" rel="noopener">
								<div class="mn-bg news_logo"></div>
							</a>
						</article>
					</li>
					<li>
			   			<article>
						<a href="http://tech.economictimes.indiatimes.com/news/startups/nobroker-investment-saif-partners-fulcrum-ventures/46343396" target="_blank" rel="noopener">
							<div class="et-bg news_logo"></div>
						</a>
						</article>
					</li>
					<li>
			   			<article>
						<a href="http://www.vccircle.com/news/technology/2015/02/23/online-p2p-rental-property-listings-startup-nobroker-raises-3m-saif" target="_blank" rel="noopener">
							<div class="vc-bg news_logo"></div>
						</a>
						</article>
					</li>
					<li>
						<article>
						<a href="http://forbesindia.com/article/real-estate-special/select-home.-add-to-cart/40155/2" target="_blank" rel="noopener">
							<div class="forbes-bg news_logo"></div>
						</a>
						</article>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
