<nav class="pageHeader">
	<ul class="side-nav row" id="sideNavMenu">
		<li class="col s12 center nb_sidebar_logo_holder">
		</li>
		<li class="col s12 sideListItem valign-wrapper">
			<a href="/" data-action="onSearch">
				<div class="homeIcon col s2"></div>
				<div class="col s10">Home</div>
			</a>
		</li>
		<li class="col s12 sideListItem valign-wrapper tenantMenu">
			<a href="#" data-action="myPlans">
			<div class="planIcon col s2"></div>
			<div class="col s10">My Plan</div>
			</a>
		</li>
		<li class="col s12 sideListItem valign-wrapper ownerMenu">
			<a href="#" data-action="ownerMyPlans">
			<div class="planIcon col s2"></div>
			<div class="col s10">My Plan</div>
			</a>
		</li>
		<li class="col s12 sideListItem valign-wrapper">
			<a href="#" data-action="rentalAgreement">
			<div class="rentalAgreementIcon col s2"></div>
			<div class="col s10">Rental Agreement</div>
			</a>
		</li>
		<li class="col s12 sideListItem valign-wrapper">
			<a href="#" data-action="shareAndEarn">
			<div class="clickEarnIcon col s2"></div>
			<div class="col s10">Click n Earn</div>
			</a>
		</li>
		<li class="col s12 sideListItem valign-wrapper">
			<a href="#" data-action="rentReceipt">
			<div class="rentReceiptIcon col s2"></div>
			<div class="col s10">Rent Receipts</div>
			</a>
		</li>
		<li class="col s12 sideListItem lastSideListItem valign-wrapper">
			<a href="/about/about-us" data-action="onAboutUs">
			<div class="aboutUsIcon col s2"></div>
			<div class="col s10">About Us</div>
			</a>
		</li>
	</ul>
	<div class="nav-wrapper">
		<a href="#!" data-activates="sideNavMenu" class="button-collapse nbSideMenuBtn" data-action="sideNav"><i class="fa fa-navicon navIcon"></i></a>
		<div class="switch-to-map-view"></div>
		<div class="switch-to-list-view"></div>	
	</div>
</nav>