<div id="filterPanel" class="nbModal filterPanelModal">
	<div class="bbm-modal__section">
		<div class="col s12 filterGroup nearbyFilter hide noPadding">
			<input id="includeNearby" class="filled-in" type="checkbox" name="nearby" value="true">
			<label class="peakTrafficLabel" for="includeNearby">Include Nearby Properties</label>
		</div>

		<div class="travelTimeWrapper hide filterGroup">
			<div class="col s12 travelTimeCol" data-filtertype="travelTime">
				<h6 class="topPad filterHeader">Travel Time <sup>New!</sup></h6>
				<div class="btn-group row btn-togglegroup">
					<div class="col s3">
						<a href="#" class="btn btn-flat" data-role="toggleBtn" data-value="15">15</a>
					</div>
					<div class="col s3">
						<a href="#" class="btn btn-flat" data-role="toggleBtn" data-value="30">30</a>
					</div>
					<div class="col s3">
						<a href="#" class="btn btn-flat" data-role="toggleBtn" data-value="45">45</a>
					</div>
					<div class="col s3">
						<a href="#" class="btn btn-flat" data-role="toggleBtn" data-value="60">60</a>
					</div>
					<div  class="col s12">
						<input id="peakTraffic" class="filled-in" type="checkbox" name="peakTraffic" value="true">
						<label class="peakTrafficLabel" for="peakTraffic">Peak Traffic</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>